<div class="container">

  <p id="new_front"><%= @card.front %></p>
  

  <form action="/play" method="post">
  Answer:<input type="text" name="guess">
  <input id="card_answer" type="hidden" name="answer" value="<%= @card.back %>">
  <input id="guessbutton" type="submit" value="Guess!!">
  </form> 

  <ul>
    <li id="server_answer"></li>
       <!-- <%= @message if @message %></li> -->
  </ul>

  <form action="/results" method="get">
    <input type="submit" value="Finish">
  </form>
</div>


