<div class="container">

  <%= @question %>
  

  <form action="/play" method="post">
  Answer:<input type="text" name="guess">
  <input type="hidden" name="answer" value="<%= @answer %>">
  </form> 

  <%= @message %>
  
</div>


