<div class="container">

  <%= @card.front %>
  

  <form action="/play" method="post">
  Answer:<input type="text" name="guess">
  <input type="hidden" name="answer" value="<%= @card.back %>">
  </form> 

  <ul>
    <li><%= @message if @message %></li>
  </ul>  
</div>


