<div class="container">
  <h1>Welcome to Flashcards!</h1>

  <ul>
  <% Deck.all.each do |deck|%>
    <li><a href="/deck/<%= deck.id %>"><%= deck.topic %></a></li>
  <% end %>
  </ul>

</div>

<form action="/user/login" method="get">
  <input type="submit" value="Login">
</form>

<form action="/new_user" method="get">
  <input type="submit" value="Create Account">
</form>
