<div class="container">
  <h2>New User</h2>
  <form action="/user/create" method="post">
     <ul>
      <li>User Name: <input type="text" name="name" required></li>
      <li>E-Mail: <input type="text" name="email" required></li>
      <li>Password: <input type="password" name="password" required></li>
      <li>Pasword Confirmation: <input type="password" name="password_confirmation" required></li>
      <li><input type="submit" value="Submit"></li>
    </ul>
  </form>
</div>
