<div class="container">
  <form action="/user/login" method="post">
    <ul>
      <li>E-Mail: <input type="text" name="email"></li>
      <li>Password: <input type="password" name="password"></li>
      <li><input type="submit" value="Log in"></li>
    </ul>
  </form>
</div>
